
.Apps{
    background-color: gold;
}
  .imgTitle {
    max-width: 25%;
    display:block;
    margin:0 auto;
    float: none;
    margin-bottom: -3%; 
    margin-top: -1%;
  }
  .centerBrand {
    float: left;
    margin-left: -20%;
  }
  .expandThing {
    max-width: 50%;
  }


 
  @media  screen and (max-width: 800px) {
    .expandThing {
        display:block;
        margin:0 auto;
        float: right;
      }
      .imgTitle {
        max-width: 10rem;
        display:block;
        margin:0 auto;
        float: none;
        margin-bottom: -1rem;
      }
      /*img {max-width: 40%;display:block;margin:0 auto;}*/
      
  }