

  .imgTitle {
    max-width: 15%;
    display:block;
    margin:0 auto;
    float: none;
    margin-bottom: -3%;
    margin-top: -1%;
  }
  .centerBrand {
    float: left;
    margin-left: -20%;
  }
  .expandThing {
    max-width: 50%;
  }


 
  @media  screen and (max-width: 800px) {
    .expandThing {
        display:block;
        margin:0 auto;
        float: none;
      }
      .imgTitle {
        max-width: 50%;
        display:block;
        margin:0 auto;
        float: none;
      }
      /*img {max-width: 40%;display:block;margin:0 auto;}*/
      
  }